<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="/"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<span class="validationError"
      th:if="${customers.isEmpty()}">No customers added, yet.</span>
<a th:href="@{/customers/newCustomer}">Add Customer</a>
<ul>
    <li th:each="customer:${customers}">
        <span th:text="${customer.toString()}"></span>
    </li>
</ul>
</body>
</html>